{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
	<title>Rajasthan Tourism</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
	<link rel='stylesheet' href='static/stylesheet/mdb-theme-min.css'/>
    <link rel='stylesheet' href='static/stylesheet/style.css'/>
</head>

    <header class="hdd">
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
          <a class="navbar-brand" href="#">
            <strong>RajTour</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
            </ul>
            <form class="form-inline">
              <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              </div>
            </form>
          </div>
        </div>
      </nav>
      <div class="view">
        <div class="mask rgba-indigo-strong">
          <div class="container">
              <div class="row pt-lg-5 mt-lg-5 wow zoomInLeft" id="p11" data-wow-delay="0.3s">  
                <div class="col white-text text-center text-md-left">  
                  <img class="cartoonPNG" src="static/img/hello.png">
                </div>
                <div class="col white-text text-center text-md-left" align="center">  
                  <div class="text-center">
                    <h4 class="white-text">
                      <strong>I'm here to plan your Rajasthan Tour!</strong>
                    </h4>
                    <hr>
                  </div>
                </div>
              </div>
              <div class="row pt-lg-5 mt-lg-5 wow zoomInRight" data-wow-delay="-0.3s" id="p12" style="display: none;">
                <div class="col">
                  <div class="formm">  
                    <form id="regForm" action="">
                      <!-- One "tab" for each step in the form: -->
                      <div class="tab" style="display: none;">
                        <div class="col card">
                          <strong><p class="black-text"> No. Days you'll be staying </p></strong>
                            <p><input placeholder="1,2,3..." type=number oninput="this.className = ''"></p>
                        </div>
                        <div class="col" align="right">
                          <img src="static/img/cities.png" class="cartoonPNGsm">
                        </div>
                      </div>

                      <div class="tab" style="display: none">
                        <div class="col">  
                          <img src="static/img/cities.png" class="cartoonPNGsm">
                        </div>
                        <div class="col card">
                          <strong><p class="black-text">Choose cities you'll be travelling to</p></strong>
                          <select class="mdb-select colorful-select dropdown-primary" multiple searchable="Search here..">
                              <option value="" disabled selected>Choose Cities</option>
                              <option value="1">Jaipur</option>
                              <option value="2">Udaipur</option>
                              <option value="3">Xyz</option>
                              <option value="3">Abc</option>
                              <option value="3">Cde</option>
                          </select>        
                        </div>
                      </div>

                      <div class="tab" style="display: none">
                        <div class="col card">
                          <strong><p class="black-text"> Types of Places </p></strong>
                            <input type="checkbox" class="filled-in form-check-input" id="ch1" checked="checked">
                            <label class="form-check-label" for="ch1">Monuments</label>

                            <input type="checkbox" class="filled-in form-check-input" id="ch2" checked="checked">
                            <label class="form-check-label" for="ch2">Famous Attractions</label>

                            <input type="checkbox" class="filled-in form-check-input" id="ch3" checked="checked">
                            <label class="form-check-label" for="ch3">Meuseum</label>

                            <input type="checkbox" class="filled-in form-check-input" id="ch4" checked="checked">
                            <label class="form-check-label" for="ch4">Places of Worships</label>

                            <input type="checkbox" class="filled-in form-check-input" id="ch4" checked="checked">
                            <label class="form-check-label" for="ch4">Wildlife</label>

                        </div>
                        <div class="col">
                          <img style="margin: 0 auto" src="static/img/cities.png" class="cartoonPNGsm">
                        </div>
                      </div>

                      <div style="overflow:auto;">
                        <div align="center">
                          <button type="button" class="btn btn-primary waves-effect" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                          <button type="button" class="btn btn-success waves-effect" id="nextBtn" onclick="nextPrev(1)">Next</button>
                        </div>
                      </div>

                      <!-- Circles which indicates the steps of the form: -->
                      <div style="text-align:center;margin-top:40px;">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </header>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.min.js"></script>
    <script src="static/js/home.js"></script>
</body>
</html>